.notice-page-head{
    background-color: rgb(184, 12, 12);
    height: 30rem;
    clip-path: polygon(0 0%, 100% 0%, 100% 75%, 0 100%);
    width: 100%;
    position: absolute;
    z-index: 1;
    
}

.background-container-image{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: url('');
        background-color: rgb(229, 224, 224);
        
}
.notice-page-head-2{
    clip-path: polygon(0 0%, 100% 0%, 100% 75%, 0 100%);
    background-color: rgb(158, 25, 25);
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 27rem;
}

.notice-page-head2-div{
    padding-left: 5%;
    padding-top: 5%;
    color: white;
    font-family: 'Changa One', cursive;
    word-spacing: 5px;
}
.notice-content-main{
    position: relative;
    z-index: 3;
    height: 60%;
    width: 40%;
    margin-left: 30%;
    margin-top: 15%;
    border-radius: 1rem;
    border-color: white;
    border-style: dotted;
    box-shadow: 10px 10px 10px ;
    background-color: white;
    color: rgb(86, 80, 80);
    @media only screen and (max-width: 768px) {
        height: 60%;
        width: 78%;
        margin-left: 10%; 
        margin-right: 10%; 
        margin-top: 50%;
    }
    
}

#notice-div{ 
    color: white ;
    padding: 2%;
    text-align: center;
    background-color: rgb(184, 12, 12);
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-family: 'Changa One', cursive;
    font-size: x-large;
}




